## **Import Dependencies**

In [1]:
import pandas as pd
import numpy as np
import joblib
import pickle
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer #Used to convert textual data into numerical values to be used by model
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score

### **Data Loading and Preprocessing**

In [2]:
df = pd.read_csv('./mail_data.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [6]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [8]:
df.shape

(5572, 2)

In [9]:
# Label encoding spam=0 and ham=1
df.loc[df['Category']=='spam', 'Category'] = 0
df.loc[df['Category']=='ham', 'Category'] = 1

In [10]:
df.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [11]:
#separating dataset into text (i.e. input variable X) and labels (i.e. target variable Y)
X = df['Message']
Y = df['Category']

In [12]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Message, dtype: object

In [13]:
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: Category, dtype: object

### **Splitting data into train and test**

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=8)

In [15]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

### **Feature Extraction**

In [16]:
#transform textual data into feature vectors to be used as input for the model
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test to integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [17]:
print(X_train_features)
print(X_test_features)

  (0, 3918)	0.326670145310277
  (0, 3486)	0.25080812644381334
  (0, 1597)	0.3802796623931952
  (0, 2454)	0.4052066682952275
  (0, 1889)	0.3911685065737249
  (0, 7096)	0.2108564302218432
  (0, 5810)	0.3911685065737249
  (0, 1666)	0.3151349673711989
  (0, 6587)	0.2679193000060343
  (1, 5228)	0.3796284575636846
  (1, 6073)	0.5414291410131468
  (1, 2484)	0.4479255811687707
  (1, 2378)	0.41215707891575754
  (1, 2906)	0.34650574698488357
  (1, 7096)	0.268625581079466
  (2, 3610)	0.5678135062600733
  (2, 3148)	0.31002553289736334
  (2, 4105)	0.31002553289736334
  (2, 3968)	0.3144749831062941
  (2, 1851)	0.3128261358200171
  (2, 4013)	0.3073262662946963
  (2, 1949)	0.440626848711727
  (3, 2573)	0.23268529721595982
  (3, 3152)	0.14414068195988233
  (3, 4651)	0.22185254614327257
  :	:
  (4455, 4398)	0.3225032158948276
  (4455, 754)	0.25758822353899113
  (4455, 5892)	0.26513334808504574
  (4455, 7364)	0.29817848067874686
  (4455, 1524)	0.267256049872684
  (4455, 4312)	0.331737702018799
  (4455, 7098)	0.267256049872684
  (4455, 7128)	0.20623998509932093
  (4455, 6098)	0.18929450802732103
  (4455, 2883)	0.17218514571703733
  (4455, 5513)	0.1938390438222246
  (4455, 3739)	0.15475381115429226
  (4456, 5849)	0.2993508519896299
  (4456, 2665)	0.3218172160640845
  (4456, 2641)	0.2850317614287183
  (4456, 6491)	0.2993508519896299
  (4456, 6787)	0.22647412804719244
  (4456, 7160)	0.2993508519896299
  (4456, 5483)	0.24824630679335205
  (4456, 1487)	0.29399009386459707
  (4456, 6311)	0.2715237297901425
  (4456, 1853)	0.26143444788522635
  (4456, 6924)	0.31323533336269366
  (4456, 3262)	0.23473827515477627
  (4456, 2905)	0.2274187846009697
  (0, 7189)	0.5591612100504172
  (0, 5704)	0.5199424279784571
  (0, 5034)	0.5024766517692703
  (0, 3299)	0.40560550685310437
  (1, 7209)	0.19994123816804205
  (1, 7171)	0.18591764049000697
  (1, 7128)	0.14573005304620176
  (1, 6924)	0.11407817431215408
  (1, 6780)	0.18734435450110987
  (1, 5910)	0.23440727504583123
  (1, 5815)	0.21804308158443556
  (1, 4593)	0.15829984839562775
  (1, 4195)	0.24281962721756706
  (1, 4121)	0.17967234153495987
  (1, 4082)	0.21069418612313848
  (1, 3783)	0.24281962721756706
  (1, 2300)	0.20761325113419205
  (1, 2148)	0.21069418612313848
  (1, 2117)	0.12342020014326087
  (1, 2077)	0.1369674950521068
  (1, 1988)	0.1904252894900563
  (1, 1725)	0.23440727504583123
  (1, 1594)	0.16055033058947066
  (1, 1239)	0.24281962721756706
  (1, 946)	0.42138837224627695
  :	:
  (1108, 5434)	0.5292349134079767
  (1108, 4550)	0.2774707704674817
  (1108, 1047)	0.5045961839973994
  (1109, 6592)	0.7065627563251958
  (1109, 3486)	0.547759729569142
  (1109, 3074)	0.4480271755557719
  (1110, 4116)	0.7980642860732547
  (1110, 3062)	0.6025723154065297
  (1111, 4427)	0.5462069194830292
  (1111, 4383)	0.4890526359834398
  (1111, 1675)	0.6800628797004795
  (1112, 5671)	0.40588550947244967
  (1112, 2950)	0.5737098539371157
  (1112, 1746)	0.5260807071329779
  (1112, 1555)	0.47890818146927616
  (1113, 7385)	0.4367326535873175
  (1113, 7153)	0.43569305791512153
  (1113, 6451)	0.5941294220228612
  (1113, 4006)	0.516184442289703
  (1114, 6984)	0.36741821016785264
  (1114, 6589)	0.3422028228697333
  (1114, 6535)	0.477784867229836
  (1114, 5800)	0.30963027516672464
  (1114, 4307)	0.36741821016785264
  (1114, 2775)	0.5373598971270889

### **Training Model**

In [18]:
#Logistic Regression
model = LogisticRegression()
model.fit(X_train_features, Y_train)
print('Accuracy Score on training data:  ', accuracy_score(Y_train, model.predict(X_train_features)))
print('Accuracy Score on test data:  ', accuracy_score(Y_test, model.predict(X_test_features)))

Accuracy Score on training data:   0.9681400044873233
Accuracy Score on test data:   0.9632286995515695

In [19]:
#Support Vector Machine
model = SVC(C=1.0, kernel='rbf', gamma='auto')
model.fit(X_train_features, Y_train)
print('Accuracy Score on training data:  ', accuracy_score(Y_train, model.predict(X_train_features)))
print('Accuracy Score on test data:  ', accuracy_score(Y_test, model.predict(X_test_features)))

Accuracy Score on training data:   0.8671752299753197
Accuracy Score on test data:   0.8609865470852018

In [20]:
#Naive Bayes Classifier
model = MultinomialNB()
model.fit(X_train_features, Y_train)
print('Accuracy Score on training data:  ', accuracy_score(Y_train, model.predict(X_train_features)))
print('Accuracy Score on test data:  ', accuracy_score(Y_test, model.predict(X_test_features)))

Accuracy Score on training data:   0.9831725375813327
Accuracy Score on test data:   0.9704035874439462

In [21]:
#Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, criterion='gini')
model.fit(X_train_features, Y_train)
print('Accuracy Score on training data:  ', accuracy_score(Y_train, model.predict(X_train_features)))
print('Accuracy Score on test data:  ', accuracy_score(Y_test, model.predict(X_test_features)))

Accuracy Score on training data:   1.0
Accuracy Score on test data:   0.9766816143497757

### **Saving The Model**

In [22]:
# Saving Random Forest as the best performing model
#pickle.dump(model, "RandomForestModel.joblib")
# Saving the vectorizer
pickle.dump(model, open('RandomForestModel.pickle', 'wb'))

In [23]:
# Saving the vectorizer
pickle.dump(feature_extraction, open('Vectorizer.pickle', 'wb'))